<!DOCTYPE html>
<html>
  <head>
      <title>Myrecipes</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">

      <%= render 'layouts/navigation' %>

      <main role="main" class="container flex-grow-1 flex-shrink-0">
        <%= yield %>
      </main>

      <div role="main" class="flex-grow-0 flex-shrink-0">
          <%= render 'layouts/footer' %>
      </div>

  </body>
</html>
